.SouNutri {
    text-align: center;
}

.colaboradores{
    background-color: white;
    border-radius: 3rem;
    text-align: center;
    padding: 5px;
    margin-top: 100px;
    margin-bottom: 200px;
    display: inline-block;
}

.PerfilNutri{
    gap: 2rem;
    text-align: center;
    background-color: rgb(180, 180, 180);
    display: flex;
    justify-content: center;
    border-radius: 3rem;
    padding: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.Perfil_Individual_Nutri {
    padding: 1rem;
    background-color: white;
    border-radius: 2rem;
}

.PerfilNutri img {
    border-radius: 7rem;
}

.cabecalho_menu a:hover{
    color: #bdbcbc;
    text-decoration: none;
}