*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Confortaa, sans-serif;
}

@font-face{
    font-family: Confortaa;
    src: url(../font/Comfortaa-Light.ttf);
}

header {
    background-color: #0F482F;
    color: aliceblue;
    width: 100%;    
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

.cabecalho_container {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 65px;
}

.cabecalho_menu{
    margin: 1rem 1rem;  
    display: flex;
}

.cabecalho_menu a{
    display: flex;
}

.cabecalho_menu img{
    object-fit: cover;
    margin-right: 10px;
}

.cabecalho_itens {
    display: flex;
    right: 0;
    position: absolute;
    margin-right: 15px;
}

.cabecalho_itens li{
    padding: 5px;
    display: inline-block;
    text-align: right;
}

main{
    padding: 5px;
}

footer {
    height: 60px;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #0F482F;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

footer img{
    object-fit: cover;
    padding: 5px;
}

p {
    text-align: justify;
}

.nutrisocial{
    background-image: url("../images/fundo.jpg");
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

}

.nutrisocial div{
    margin: 40px;
    display: table;

}
.nutrisocial div p{
    width: 700px;
    max-width: 100%;
    max-height: 100%;
}

.nutrisocial div h2{
    text-align: center;
    padding-bottom: 20px;
}

div{
    counter-reset: item;
}

div.comofunciona h2{
    text-align: center;
}

div.porque h2{
    text-align: center;
}

div.resultados h2{
    text-align: center;
}

div.porque{
    float: left;
    max-width: 1200px;
}

div.resultados{
    float: right;
}

.resultados{
    background-color: #EBE2D9;
    padding: 20px;
    border-radius: 20px;
}

.resultados img{
    max-width: 300px;
    border-radius: 20px;
}

.obesidade{
    margin: auto;
    display: block;
    max-width: 500px;
    border-radius: 30px;
    border: 1px solid gray;
}
ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
}

.comecebotao{
    background-color: #0F482F;
    padding: 16px 33px;
    border-radius: 8px;
    text-decoration: none;
    margin: auto;
    display: block;
}