*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Comfortaa", sans-serif; font-family: "Comfortaa", sans-serif;
}

header {
    background-color: #0F482F;
    color: aliceblue;
    width: 100%;    
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

.cabecalho_container {
    display: flex;
    height: 65px;
}

.cabecalho_menu{
    margin: 1rem 1rem;  
    display: flex;
}

.cabecalho_menu a{
    display: flex;
}

.cabecalho_menu img{
    object-fit: cover;
    margin-right: 10px;
}

.cabecalho_itens {
    display: flex;
    right: 0;
    position: absolute;
    margin-right: 15px;
}

.cabecalho_itens li{
    padding: 5px;
    display: inline-block;
    text-align: right;
}

main{
    padding: 5px;
}

footer {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #0F482F;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

footer img{
    object-fit: cover;
    padding: 5px;
}

.titulo{
  font-size: 40px;
  font-weight: 906px;
  line-height: 252px;
  margin-left: 300px; /*usei o margin left pra dar uma alinhada no titulo*/

}

.titulo2{
    font-size: 20px;
    white-space: pre-line; /* usei pra dar um espaço entre os paragrafos*/
    margin-left: 200px;
    margin-top: -100px;
}

.botao{
background-color: #0F482F;
  padding: 16px 33px;
  border-radius: 8px;
  text-decoration: none;
  margin-left: 400px;

}