/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Comfortaa, sans-serif;
}

/* Body */
body {
    background-color: rgb(230, 230, 230);
    min-width: 100vh;
}

/* Fonte */
@font-face {
    font-family: Comfortaa;
    src: url(../font/Comfortaa-Regular.ttf);
}

/* Header */
header {
    background-color: #0F482F;
    color: aliceblue;
    width: 100%;
}

/* Links */
a {
    text-decoration: none;
    color: white;
}

/* Lista */
li {
    list-style-type: none;
}

/* Container do cabeçalho */
.cabecalho_container {
    display: flex;
    height: 65px;
}

/* Menu */
.cabecalho_menu {
    margin: 1rem 1rem;
    display: flex;
}

/* Imagem no menu */
.cabecalho_menu a {
    display: flex;
}

.cabecalho_menu img {
    object-fit: cover;
    margin-right: 10px;
}

/* Itens do cabeçalho */
.cabecalho_itens {
    display: flex;
    right: 0;
    position: absolute;
    margin-right: 15px;
}

.cabecalho_itens li {
    padding: 5px;
    display: inline-block;
    text-align: right;
}

/* Rodapé */
footer {
    height: 60px;
    width: 100%;
    position: static;
    background-color: #0F482F;
    display: flex;
    justify-content: center;
    vertical-align: baseline;
}

footer img {
    object-fit: cover;
    padding: 5px;
}

/* Seção de início */
.inicio {
    display: flex;
    align-items: center;
    padding: 24px 80px 128px 80px;
    margin: 100px;
    position: relative;
    background-color: white;
    border-radius: 100px;
}

/* Seção de colaboradores */
.colaboradores {
    display: flex;
    align-items: center;
    padding: 24px 80px 128px 80px;
    margin: 100px;
    position: relative;
    border-radius: 100px;
    background-color: #bdbcbc;
}

/* Parágrafos */
p {
    line-height: 150%;
    margin-bottom: 33px;
    text-align: center;
}

/* Título */
h1 {
    margin-bottom: 33px;
    text-align: center;
    padding: 2px;
    font-size: 50px;
    color: black;
}

/* Textos */
.textos {
    padding: 90px;
}

/* Botão */
.botao {
    background-color: #0F482F;
    color: white;
    text-underline-offset: 4px;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 8px;
}

.classe_botao {
    text-align: center;
    padding: 10px;
}

.botao:hover {
    background-color: #0c3825;
}

/* Cor do link no hover */
.cabecalho_menu a:hover {
    color: #bdbcbc;
    text-decoration: none;
}

/* Sou Nutri */
.SouNutri {
    text-align: center;
}

/* Container dos colaboradores */
.colaboradores {
    background-color: white;
    border-radius: 3rem;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 50px;
    display: inline-block;
}

/* Perfil dos nutricionistas */
.PerfilNutri {
    gap: 2rem;
    text-align: center;
    background-color: #0F482F;
    display: flex;
    justify-content: center;
    border-radius: 3rem;
    padding: 4rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 3rem;
}

/* Perfil individual dos nutricionistas */
.Perfil_Individual_Nutri {
    padding: 1rem;
    background-color: white;
    border-radius: 2rem;
}

/* Imagem do perfil dos nutricionistas */
.PerfilNutri img {
    border-radius: 7rem;
}