/* Remover espaço em brando lateral no mobile

 */
 html, body{
    overflow-x: hidden !important; 
}
p {
    text-align: justify;
}

main{
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.nutrisocial{
    background-image: url("../images/fundo.jpg");
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
    overflow: hidden;
}
@media (max-width: 700px){
    .nutrisocial{
        flex-direction: column;
        background-size: 120%;
        margin-top: -20px;
        background-image: url("/images/fundo-copia.jpg");
    }
}




.nutrisocial div{
    margin: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: start;
}

.nutrisocial div p{
    width: 700px;
    max-width: 100%;
    max-height: 100%;
}

.nutrisocial div h2{
    text-align: center;
    padding-bottom: 20px;
}

div{
    counter-reset: item;
}

.comofunciona h2{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.classe_botao {
    margin-top: 20px;
}

.porque h2{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.resultados h2{
    text-align: center;
    padding-bottom: 10px;
}

.porque{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    text-align: justify;
    margin-left: 40px;
    height: 363px;
    overflow: hidden;
    position: relative;
}

.porque.active{
    height: auto;
}

.porque::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(230, 230, 230, 0.800));
}

.porque.active::before{
    visibility: hidden;
}

.porque_vermais{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 700px){
    .porque_vermais{
        flex-direction: column;
        margin-right: 30px;
    }
}

.resultados{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 35px;
    margin-left: 10px;
}

.porque_result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
@media (max-width: 700px){
    .porque_result{
        flex-direction: column;
    }
}

.resultados{
    background-color: hsla(0, 0%, 88%, 0.9);
    padding: 20px;
    border-radius: 15px;
    max-height: 375px;
}

.resultados img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
}

.imgresultados{
    padding-bottom: 20px;
}

div.comofunciona{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.obesidade{
    margin-top: 20px;
    max-width: 700px;
    border-radius: 50px;
    margin-bottom: 30px;
}
@media (max-width: 700px){
    .obesidade{
        flex-direction: column;
        width: 400px;
        margin-top: 30px;
    }
}


ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
}

.comofunciona{
    margin-left: 40px;
    margin-right: 40px;
}
@media (max-width: 700px){
    .comofunciona{
        flex-direction: column;
    }
}



.melhorealimentacao{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: hsla(0, 0%, 88%, 0.9);
    border-radius: 15px;
}

.melhorealimentacao h2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.cabecalho_menu a:hover{
    color: #bdbcbc;
    text-decoration: none;
}

#mais{
    display: inline;
}

#resumo{
    display: inline;
}

#btnVerMais{
    margin-left: 40px;
    border:none;
    padding: 10px;
    background-color: hsl(0, 0%, 86%);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    width: 96.7%;
}

.footerBottom p{
    text-align: center;
}