p {
    text-align: justify;
}

main{
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.nutrisocial{
    background-image: url("../images/fundo.jpg");
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.nutrisocial div{
    margin: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: start;
}

.nutrisocial div p{
    width: 700px;
    max-width: 100%;
    max-height: 100%;
}

.nutrisocial div h2{
    text-align: center;
    padding-bottom: 20px;
}

div{
    counter-reset: item;
}

.comofunciona h2{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.classe_botao {
    margin-top: 20px;
}

.porque h2{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.resultados h2{
    text-align: center;
    padding-bottom: 10px;
}

.porque{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    text-align: justify;
    margin-left: 40px;
    height: 363px;
    overflow: hidden;
    position: relative;
}

.porque.active{
    height: auto;
}

.porque::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(230, 230, 230, 0.800));
}

.porque.active::before{
    visibility: hidden;
}

.porque_vermais{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultados{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 35px;
    margin-left: 10px;
}

.porque_result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.resultados{
    background-color: hsla(0, 0%, 88%, 0.9);
    padding: 20px;
    border-radius: 15px;
    max-height: 375px;
}

.resultados img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
}

.imgresultados{
    padding-bottom: 20px;
}

div.comofunciona{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.obesidade{
    max-width: 700px;
    border-radius: 50px;
    margin-bottom: 30px;
}

ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
}

.comofunciona{
    margin-left: 40px;
    margin-right: 40px;
}

.melhorealimentacao{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: hsla(0, 0%, 88%, 0.9);
    border-radius: 15px;
}

.melhorealimentacao h2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.cabecalho_menu a:hover{
    color: #bdbcbc;
    text-decoration: none;
}

#mais{
    display: inline;
}

#resumo{
    display: inline;
}

#btnVerMais{
    margin-left: 40px;
    border:none;
    padding: 10px;
    background-color: hsl(0, 0%, 86%);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    width: 96.7%;
}

.footerBottom p{
    text-align: center;
}