.Inicio > h2{
    display: flex;
    margin-left: 40px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 15px;
}


.Inicio a{
    color: white;
    text-decoration: none;
}

.navegação{
    display: flex;
    margin-left: 40px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navegação > li {
    margin: 40px;
    justify-content: flex-end;
    list-style: none;
}

.navegação > li a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.navegação > li a :hover{
    background-color: green;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: rgb(42, 85, 42);
}

body {
    margin: 0;
    font-family: "Comfortaa", sans-serif; 
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #0A3519;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.left-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: white;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(42, 85, 42);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgb(4, 12, 4);
}

.card-login > h1 {
    color: #f7f7f741;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: black;
    color: rgb(42, 85, 42);
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgb(22, 43, 22);
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color:rgba(253, 253, 253, 0.856);
    margin-bottom: 3px;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase;
    color: #0A3519;
    cursor: pointer;
}

.bt-voluntario{
    width: 50%;
    padding: 16px 0px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase;
    color: #0A3519;
    cursor: pointer;
}

.bt-paciente{
    width: 50%;
    padding: 16px 0px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase;
    color: #0A3519;
    cursor: pointer;
}
